# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.class

# Ignore these files
.gradle
.idea
.vscode
build
